<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | ParShiksha</title>
  </head>

  <body>
    <h3>Login for ParShiksha</h3>
    <br /><br />
    <form action="login" method="POST">
      {% csrf_token %} Email : <input name="email" type="email" /> <br /><br />
      password: <input name="password" type="password" /><br />
      <br />
      <input type="submit" />
    </form>
  </body>
</html>
